.mainDiv{
	border: 1px solid #ccc;
	width:1200px;
	height:900px;
	margin: 0 auto;
	background-color: #FFFAE8;
}
.leftDiv{
	border: 1px solid #ccc;
	width:500px;
	height:503.1px;
	float: left;
	margin-top: 20px;
	margin-left: 85px;
	background-image:url(../images/loginAD.jpg) ;
	
}
.rightDiv{
	border: 1px solid #ccc;
	width:500px;
	height:503.1px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
	
}

.downDiv{
	border: 1px solid #ccc;
	width:1190px;
	height:270px;
	margin: 0 auto;
}
.swithLoginWayDiv{
	border: 1px solid #ccc;
	width:460px;
	height:300px;
	margin: 0 auto;
	padding-left:40px ;
	padding-top:50px ;
	
}
.swithLoginTitleDiv{
	border: 1px solid #ccc;
	width:460px;
	height:60px;
	margin: 0 auto;
	margin-top:40px;
	
    padding: 0 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #f5f5f5;

}
.swithLoginTitleDiv a{
	margin-left:100px ;
	font-size: 14px;
	color: #4d4d4d;
	text-decoration: none;
	text-align: center;
	line-height: 60px;
}
.swithLoginTitleDiv a:hover{
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom-width: 2px;
    border-bottom-color: #ca0c16;
	border-bottom-style: solid;
}
#loginBtn{
	
	margin:0 auto;
	background-color:#f5f5f5;
	border-color:transparent;
	cursor: pointer;
}
#loginBtn:hover{
	
	border-bottom-color: #ca0c16;
}
.tips_error{
color:red;
}
