 html, body {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
}

#header {
    height:70px;
    width:100%;    
}

#main {
    margin-top: 20px;
    height:640px;
    width:100%;    
    background-color: #4454B4;
}

#mainCenter {
    margin:0 auto;
    width:1200px;
    background-color: #FFFFFF;
    height:500px;
    z-index: 2;
    position: relative; /*设置position属性*/
    top:80px;
}

.headerLeft {
    float:left;
    height:70px;
    width:25%;    
}

.headerRight {
    float:right;
    height:70px;
    width:25%;
}

.logoTitle {
    float:right;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    width: 256px;
    display: block;
    position: absolute;
    top: 20px;
    left: 170px;
    border-left: 1px solid #ccc;
    color: #888;
    padding-left: 10px;
}

.logoImg {
    width:144px;
    height:62px;
    padding-top: 16px;
}

.logo {
    padding-left: 20px;
}

.help {
    text-decoration: none;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    display: block;
    position: absolute;
    top: 20px;
    right: 80px;
    color: #888;  
}

.review {
    text-decoration: none;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;  
    color: #888;
}

.ad {
    float:left;
    background-color: #FD9A3D;
    width:600px;
    height:500px;
}

.loginDiv {
    float:right;
    background-color: #FFFAE8;
    width:600px;
    height:500px;    
}

.loginModual {
    margin: auto;
}

.loginModual h2 {
    padding: 40px 0 0;
    color: #333;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.formDiv {
    background-color: #ffffff;
    width:500px;
    height:300px;
    margin: auto;
}

.inputBox {
    min-width: 340px;
    z-index: 19;
    position: relative;
    height: 44px;
    margin-bottom: 0px;
    border: 1px solid #c5cddb;
    background: #fff;
    font-size: 12px;
    line-height: 44px;
    width: 100px;
    margin: auto;
}

.passwordBox {
    margin-top: 30px;
}

.likeImage {
    background: url(../image/like.png);
    width:40px;
    height:40px;
    float: left;
}

.pwdImage {
    float: left;
    background: url(../image/pwd.png);
    width:40px;
    height:40px;
}

.password {
    width:290px;
    height:40px;
    border: none;
}
.username {
    width:290px;
    height:40px;
    border: none;
}
.unLogin {
    font-size: 12px;
    line-height: 44px;
    width: 340px;
    margin-left: 77px;
    margin-top: 20px;
}

.forgetPassword {
    margin-left: 180px;
    text-decoration: none;
}

.loginBtnDiv a {
    text-decoration: none;
    width: 340px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: none;
    color: #fff;
    border: 1px solid transparent;
    margin-left: 140px;    
}

.loginBtnDiv {
    width:340px;
    height: 50px;
    background: #3B78DD;
    border-radius: 4px;
    margin-left: 80px;
}

.RegBtnDiv {
    width: 340px;
    height: 50px;
    margin-left: 80px;
    padding-top:10px ;

}

.RegBtnDiv a {
    color: #3B78DD;
    font-size: 14px;
    line-height: 20px;
    margin-left: 130px;
    text-decoration: none;
}
.loginBtnDiv{
    cursor: pointer;
}
